{% extends 'base.html' %}

{% block header %}
    <div class="pull-right noprint">
        <a href="{% url 'plugins:netbox_virtual_circuit_plugin:virtual_circuit_vlan_add' %}?virtual_circuit={{ virtual_circuit.vcid }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Assign a VLAN
        </a>
    </div>
{% endblock %}

{% block content %}
{% with config=settings.PLUGINS_CONFIG.netbox_virtual_circuit_plugin %}
    <h1>Virtual Circuit {{ virtual_circuit.vcid }} ({{ virtual_circuit.name }})</h1>
    <table class="table table-hover panel-body attr-table">
        <tr style="background-color:#f8f8f8;">
            <th> VLAN </th>
            <th> Status </th>
            <th> Interface </th>
        </tr>
        {% for vlan in vlans %}
        <tr>
            <td><a href="{% url 'ipam:vlan_list' %}{{ vlan.pk }}">{{ vlan.vid }} ({{ vlan.name }})</a></td>
            <td><span class="label label-{{ vlan.get_status_class }}">{{ vlan.get_status_display }}</span></td>
            <td>{{ vlan.get_members.0 }}</td> <!-- NOTE: get only the first member due to Vapor's specific use case -->
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted">No VLAN has been assigned yet!</td>
        </tr>
    {% endfor %}
    </table>
{% endwith %}
{% endblock %}
